*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    //font-family: 'Nunito Sans', sans-serif;
    //font-family: 'IBM Plex Mono', monospace;
    font-family: 'PT Sans', sans-serif;
}

/* La barra de navehgación */
#navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background-color: cadetblue;
}

.navbar-wrap{
    width: 60%;
    height: 100%;
    
    margin: auto;
    display: table;
}

#logo{
    width: 25%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#logo h2{
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
}

#menu{
    width: 30%;
    height: 100%;
    float: right;
    margin: 25px; 
}

/* El boton para subir */
#return{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: cadetblue;
    bottom: 35px;
    right: 35px;
    position: fixed;
    text-align: center;
    cursor: pointer;
    transition: height 0.3s, width 0.3s;
}

.fa-chevron-up{
    margin: 5px auto;
    color: aliceblue;
    font-size: 40px;
    
}

#return:hover{
    height: 60px;
    width: 60px;
}

/* Banner de la pagina */
#banner-principal{
    width: 100%;
    background-image: url("../img/trafico.jpg"); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#menu-content{
    height: 100%;
    width: 100%;
    padding: 100px;
}

#menu-content-wrap{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
    margin: auto;
}

.menu-contents{
    width: 20%;
    height: 40%;
    float: left;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 6px 6px #7F7E7E;
    margin: 2.8% 2.5%;  
    cursor: pointer;
}

.menu-contents .image{
    border-radius:10px 10px 0px 0px;
    height: 75%;
    width: 100%;
    background-image: url("https://hbr.org/resources/images/article_assets/2017/06/jun17-15-hbr-nicholas-blechman-data.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-contents .title-image{
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    height: 25%;
    width: 100%;
    color: white;
    text-align: center;
    background: blue;
    letter-spacing: 1px;
    overflow: hidden;
}


    /* Pie de pagina */
footer{
    color: aliceblue;
    clear: both;
}
footer div{
    border-radius: 20px 20px 0px 0px;
    background-color: cadetblue;
    padding: 30px;
}

footer li{
    list-style: none;
}


@media screen and (max-width: 768px){
    #menu-content-wrap{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background: rgba(255,255,255,0.6);
        margin: auto;
    }   

    .menu-contents{
        width: 20%;
        height: 40%;
        float: left;
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 6px 6px #7F7E7E;
        margin: 2.8% 2.5%;  
        cursor: pointer;
    }

    .menu-contents .image{
        border-radius:10px 10px 0px 0px;
        height: 75%;
        width: 100%;
        background-image: url("https://hbr.org/resources/images/article_assets/2017/06/jun17-15-hbr-nicholas-blechman-data.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu-contents .title-image{
        border-radius: 0px 0px 10px 10px;
        padding: 5px;
        height: 25%;
        width: 100%;
        color: white;
        text-align: center;
        background: blue;
        letter-spacing: 1px;
        overflow: hidden;
    }
}